@import "vars";

$default-space: 10px;

#game {

    // This affects the #board and #message children
    width: 50%;
    margin-left: 25%;

    // This does not
    padding-top: $default-space;
    padding-bottom: $default-space;

    #board{

        padding-top: $default-space;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    }

    .sq {

        font-family: 'Ubuntu', sans-serif;
        color: white;
        padding: 25% 25% 25%;
        font-size: 50px;
        text-align: center;
        background: $sq;
        box-shadow: 4px 4px 5px $shadow;
        text-shadow: 2px 2px $type-shadow;

    }

    .sq:hover {
        background: $bg;
    }

    #message {
        font-family: 'JetBrains Mono', monospace;
        padding-top: $default-space;
        color: white;
        font-size: 30px;
        text-align: left;
        background: $sq;
        box-shadow: 4px 4px 5px $shadow;
        font-size: 35px;

        display: none;
        color: $message-text;
        text-shadow: 2px 2px $message-shadow;
        margin-bottom: none;
        background: none;
        box-shadow: none;
    }

}