@import "vars";

$default-space: 15px;


/*

The problem:

I need to constrain the #board div to a 1:1 aspect ratio, dependent simultaneously on height and width.
I.e, if the window becomes shorter than the square is tall, the square needs to get smaller.
AND if the window becomes narrower than the square is wide, the square needs to get smaller.

One thing to consider: it's probably okay that the width is the priority here, and it could just use media queries to solve this problem
However, I kind of want to do it the hard way.

Also. If it sounds like I actually understand this problem...I really don't. I think it might be better to leave it for now,
considering I have a lot to do.

Article that might be helpful: https://css-tricks.com/aspect-ratio-boxes/

*/

#game {

    // This affects the #board and #message children
    width: 40%;
    margin-left: 30%;
    margin-top: 4%;
    //box-shadow: 4px 4px 5px $shadow;

    // This does not


    #board{

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    }

    .sq {

        font-family: 'Ubuntu', sans-serif;
        color: white;
        padding-top: 25%;
        padding-bottom: 25%;
        text-align: center;
        font-size: 35px;
        background: $sq;
        border: 1px solid $bg;
        text-shadow: 2px 2px $type-shadow;
        //box-shadow: 4px 4px 5px $shadow;

    }

    .sq:hover {
        background: $bg-auth;
    }

    #message {
        z-index: 1000;
        font-family: 'JetBrains Mono', monospace;
        padding-top: $default-space;
        padding-bottom: $default-space;
        padding-left: $default-space;
        color: white;
        font-size: 28px;
        text-align: left;
        //box-shadow: 4px 4px 5px $shadow;
        display: none;
        color: $message-text;
        text-shadow: 2px 2px $message-shadow;
        margin-bottom: none;
        background: $bg-auth;
        border: 1px solid $bg-auth;
    }

}

@media only screen and (max-width: 1200px) {

    #game {
        // This affects the #board and #message children
        width: 60%;
        margin-left: 20%;
  }
}

@media only screen and (max-width: 800px) {

    #game {
        // This affects the #board and #message children
        width: 80%;
        margin-left: 10%;
  }
}

@media only screen and (max-width: 600px) {

    #game {
        // This affects the #board and #message children
        width: 94%;
        margin-left: 3%;
        
        .sq {
            font-size: 40px;
        }

        #message {
            font-size: 24px;
        }
  }
}


@media only screen and (max-width: 400px) {

    #game {
        // This affects the #board and #message children
        width: 100%;
        margin-left: 0px;
        
        .sq {
            font-size: 40px;
        }
  }
}
