@import "vars";

#game {

    #board{

        padding: 2% 25% 2%;
        width: 50%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

    }

    .sq {

        font-family: 'Ubuntu', sans-serif;
        color: white;
        padding: 25px 20px 25px;
        font-size: 50px;
        text-align: center;
        background: $sq;
        box-shadow: 4px 4px 5px $shadow;
        text-shadow: 2px 2px $type-shadow;

    }

    #message {

        color: white;
        padding: 25px 10px 25px;
        font-size: 50px;
        text-align: center;
        background: $sq;
        box-shadow: 4px 4px 5px $shadow;

        font-size: 35px;

        display: none;
        color: $message-text;
        text-shadow: 2px 2px $message-shadow;
        margin-top: 3%;
        margin-left: 24%;
        width: 50%;
        background: none;
        box-shadow: none;
        margin-bottom: 20px;
    }
    
    .sq:hover {
        background: $bg;
    }

}