@import "vars";

html {
    background: $bg-dark;
}


#body {
    font-family: 'Ubuntu', sans-serif;
}

#welcome {

    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 80px 25% 0px 25%;
    width: 50%;

    .summary {
        color: $welcome;
        font-size: 26px;
        text-shadow: 2px 2px $message-shadow;
    }

    #find-game {

        display: none;
        padding: 16px;
        margin: auto;
        margin-top: 8%;
        font-size: 30px;
    
        color: white;
        background: $sq;
        text-shadow: 3px 3px $message-shadow;
        box-shadow: 4px 4px 4px $shadow;
        outline:0;
        border: none;
    }

    #find-game:hover {
        color: orange;
        box-shadow: none;
    }
        
    #matchmaking-loader {
        display: none;
        top: 56px;
        margin: auto;
    }

}


@media only screen and (max-width: 400px) {

    #welcome {

        font-family: 'Ubuntu', sans-serif;
        text-align: center;
        padding: 30px 10% 0px 10%;
        width: 80%;

        #welcome-message {
            font-size: 26px;
            text-shadow: none;
        }

    }
}